body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:auto auto auto;
    background-color: slategrey;
    align-items: center;
    align-self: center;
    color: white;
    text-align: center;
    margin: 1em;
    gap: 1em;
}
h2 {
    border-bottom: 2px dashed white;
    padding-bottom: 0.6em;
}
.header , .content , .contactLeft , .contactRight{
    background-color: #555555;
    display: grid;
    border: 2px solid white;
    border-radius: 5px;
}
.logo {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.cornerLogo {
    display: block;
    margin: auto;
    width: 128px;
}
.header {
    grid-row: 1;
    grid-column: 2 / 4;
}
.headerText {
    margin: 10px;
}
.content {
    grid-row: 2;
    grid-column: 1 / 4;
    grid-template-rows: 1fr auto auto auto;
    grid-template-columns: auto auto;
}
.contentHeader {
    grid-row: 1;
    grid-column: 1 / 3;
}
.developer {
    display: grid;
    grid-row: 2;
    grid-column: auto;
    margin: 10px;
}
.designer {
    display: grid;
    grid-row: 2;
    grid-column: auto;
    margin: 10px;
}
.builder {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 2;
    margin: 10px;
}
@media all and (max-width: 700px) {
    .developer {
        display: grid;
        grid-row: 2;
        grid-column: 1;
    }
    .designer {
        display: grid;
        grid-row: 3;
        grid-column: 1;
    }
    .builder {
        display: grid;
        grid-row: 4;
        grid-column: 1;
    }
}
.footer {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}
.contactLeft {
    grid-row: 1;
    grid-column: 1;
}
.contactRight {
    grid-row: 1;
    grid-column: 2;
}
dl {
    margin-left: 1em;
    text-align: left;
}
a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: white;
}
a:hover {
    color: lightgrey;
}
a:active {
    color: blue;
}