body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 5fr 1fr;
    background-color: slategray;
    align-items: center;
    align-self: center;
    color: white;
    text-align: center;
}
.header , .content , .GitHub , .contact, .spacer{
    display: grid;
    border: 2px solid black;
    border-radius: 5px;
}
.logo {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.cornerLogo {
    display: block;
    margin: auto;
    width: 25%;
}
.header {
    grid-row: 1;
    grid-column: 2;
}
.content {
    grid-row: 2;
    grid-column: 1 / 4;
}
.footer {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
.GitHub {
    grid-row: 1;
    grid-column: 1;
}
.contact {
    grid-row: 1;
    grid-column: 2;
}
.spacer {
    grid-row: 1;
    grid-column: 3;
}
h1 {
    margin: 10px;
}